@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



.body {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #fafafa;
}

a:hover  {
    background-color: #e9bea2;
  
}
/*----------------------------------------------Navbar*/

.navbar-brand {
  font-family: "Playfair";
  font-weight: 500;
  font-size: 24px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
  background: #e9bea2;
}


.navbar-collapse {
    float: none;
}


@media screen and (min-width: 601px) {
.navbar-nav {
  padding-left: 60%;
  font-family: "Raleway";
  font-size: 16px;
  color: black;
}
}
@media screen and (max-width: 600px) {
.navbar-nav {
  padding-left: 60%;
  font-family: "Raleway";
  font-size: 14px;
  color: black;
}
}
/*-------------------------------------------Block Dividers*/
.hr {
  max-width: 30px;
  margin: 0px;
}
.block-divider {
  margin-right: 100%;
  width: 80px;
  height: 4px;
  border: 0;
  background-color: black;
}

/*----------------------------------------------Intro*/

.intro-container {
  padding: 30px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #fafafa;
}
@media screen and (min-width: 601px) {
.intro-container h1 {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 72px;
  padding-top: 80px;
  padding-bottom: 40px;
}


.intro-container p {
  font-family: "Raleway";
  font-size: 20px;
}
}

@media screen and (max-width: 600px) {
.intro-container h1 {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 48px;
  padding-top: 80px;
  padding-bottom: 40px;
}


.intro-container p {
  font-family: "Raleway";
  font-size: 14px;
}

}
/*----------------------------------------------Portfolio*/

.portfolio-container {
  padding: 30px;
  background-color: #fafafa;
  font-family: "Raleway";
  font-size: 14px;
}


.portfolio-container h6 {
  font-family: "Raleway";
  font-weight: 600;
  padding-top: 50px;
}
.row-projects {
  max-height: 400px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.space {
  margin: 0;
  padding: 0;
  height: 20px;
}
.portfolio-container h3 a:hover {
    color: #e9bea2 !important;
}

/*----------------------------------------------About*/

.about-container {
  padding: 30px;
  background-color: #fafafa;
}

.about-container h6 {
  font-family: "Raleway";
  font-weight: 600;
  padding-top: 50px;
}

@media screen and (min-width: 601px) {
.about-container h2 {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 46px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.about-container p {
  font-family: "Raleway";
  font-size: 20px;
}
}

@media screen and (max-width: 600px) {
.about-container h2 {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 32px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.about-container p {
  font-family: "Raleway";
  font-size: 14px;
}
}
/*----------------------------------------------Contact*/

.contact-container {
  padding: 30px;
  background-color: #fafafa;
}
.contact-container h6 {
  font-family: "Raleway";
  font-weight: 600;
  padding-top: 50px;
}
@media screen and (min-width: 601px) {
.contact-container h2 {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 46px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.contact-container p {
  font-family: "Raleway";
  font-size: 20px;
}

.contact-container button {
  color: black;
  background-color: #e9bea2;
  font-family: "Raleway";
  font-size: 20px;
  border: none;
}
}
@media screen and (max-width: 600px) {
.contact-container h2 {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 24px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.contact-container p {
  font-family: "Raleway";
  font-size: 14px;
}

.contact-container button {
  color: black;
  background-color: #e9bea2;
  font-family: "Raleway";
  font-size: 14px;
  border: none;
}
}

#contact-details {
  text-align: right;
}
/*-----------------------------------Modal*/

.modal-header {
    font-family: "Raleway";
  font-size: 20px;
}

.modal-body i {
width: 24px;
  height: 24px;
  padding: 8px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: black;
  background: #e9bea2;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}


.md-form {
    font-family: "Raleway";
  font-size: 14px;
}

.modal-footer i {
 width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: black;
  background: #e9bea2;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.modal-footer button {
font-family: "Raleway";
  font-size: 16px;
}
/*-----------------------------------Footer*/

.footer {
  background-color: #fafafa;
  color: black;
  margin: 0;
  padding: 30px;
  text-align: center;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: black;
  background: #e9bea2;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

#footer-details {
  padding: 20px;
  text-align: center;
}
